{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-lg-12">

    <div class="row">
        <h2 align="center">Dark Souls</h2>
        {% include "::home/best.html.twig" with { 'images': ds } %}
    </div>

    <div class="row">
        <h2 align="center">Metal Gear</h2>
        {% include "::home/best.html.twig" with { 'images': mg } %}
    </div>

    <div class="row">
        <h2 align="center">Warcraft</h2>
        {% include "::home/best.html.twig" with { 'images': wc } %}
    </div>

    <div class="row">

        <h1 align="center">Pared Papel</h1>

        {% for image in random %}
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="images/{{ image }}" alt="some text here">
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}